*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background-image: url('img.jpeg');
    height: 100vh;
    margin: 0;
    align-items: center;
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    font-family: sans-serif;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    text-align: center;
}

.clock{
    display: flex;

}

.clock div{
    margin: 5px;

}
.clock span{
    width: 100px;
    height: 80px;
    background: rgb(205, 90, 195);
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 1, 0.3);
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(154, 1, 134);
    opacity: 0.8;
}

.clock #ampm{
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: green;
    margin-top:80px ;
}